.contact {


  .map {
   height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    


    h2 {
      color: #080911;
      position: relative;
      width: fit-content;
      font-weight: lighter;
      margin-bottom: 1em;
      margin-top: .7em;

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #080911;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
      p {
        width: 250px;
        margin-bottom: 0.8em;
        line-height: 1.5;
        // letter-spacing: .5px;
        font-weight: 500;
        color: #080911;
    }
  }
};


